@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;0,700;0,900;1,400;1,500;1,900&display=swap');

  :root{
    --red:#c2141c;
    --black:#333;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1)
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0px;    
}
.bar{
    background-image: linear-gradient(to right, black, red);
    height: .4rem;
    width: 100%;
}
.header{
    position: sticky;
}

.header .top{
    
    background: #c2141c;
    height: 1rem;
    text-align: center;
    color: #eee;
    font-size: .7rem;
}
.header2{
    position: fixed;
    position: relative;
    background: black;
    height: 15vh;
    padding-left: 3rem;
    display: flex;
    justify-content: space-between;
}
.header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.header .bars{
display: flex;
flex-direction: column;
font-size: 1.5rem;
color: #eee;
display:none;
text-decoration: none;

}
.header .logo img{
    height: 10vh;
}
.header .links{
    position: center;
    display: inline-block;
    
}
.header .links a{
 text-decoration: none;
 
 padding: .4rem;
 color: #eee;
}
.header .links a i{
    color: #eee;
    padding: .3rem;
}
.header .links a:hover{
    background: var(--red);
    color: #eee;
    letter-spacing: .1rem;
    border-radius: .3rem;
}

.header .links .fa-info{
  background: #eee;
  color: var(--black);
  border-radius: 50%;
  font-size: .5rem;
  
}
.header2 .header-right{
    align-items: center;
    margin: 3rem 2rem;

}

.header2 .header-right a{
    text-decoration: none;
   color: #eee;
   padding: .5rem;
}
.header2 .header-right a:hover{
    background: var(--red);
    color: #eee;
    letter-spacing: .1rem;
    border-radius: .3rem;
}
.container{
    display: flex;
    align-items: center;
    
}


.container .left-nav{
    margin-left: 2rem;
   
   
    width: 20rem;
    height: 100vh;
    margin-top: 4rem;
    align-items: center;
    text-align: center;
}
.container .left-nav h2{
    background: lightgray;
}


.container .slider{
    margin-left: 4rem;
    width:50% ;
    height: 90vh;
}
.swiper{
width: 100%;
height: fit-content;

}
.swiper-slide img{
  width: 100%;  
 
}
.swiper .swiper-button-prev, 
.swiper .swiper-button-next{
 color: #fff;
}
.swiper .swiper-pagination-bullet-active{
    background: #fff;
}
.container .slider .search {
width: 100%;
background:blue;
height: 2.2rem;
display: flex;
flex-wrap: wrap;
border: 1px solid rgb(61, 100, 226);
align-items: center;
}
.container .slider .search input{
    width: 92%;
   padding: .4rem;
   font-size: 1rem;
   border: none;
   height: 100%;
}
.container .slider .search i{
    font-size: 1.5rem;
    margin-left: .5rem;
    color: #eee;
}
.container .slider .search:hover{
    box-shadow:1rem 1.5rem 1.5rem rgba(0,0,0,.1)
}













@media (max-width:991px){
    .header2{
        
        height: 20vh;
       
       
    }
    .header .logo img{
        margin-top: -5rem;
    }
    .header .links{
        margin-top: 2rem;
       
        display: inline-block;
        
        margin-left: -14rem;
    }
    .header2 .header-right{
        align-items: baseline;
        margin: 8rem 2rem;
        margin-left: -10rem;
        
}
}

@media (max-width:768px) {
    .header2{
        
        height: 15vh;
       
       
    }
    .header .logo{
        margin-left: -2rem;
    }
    .header .logo img{
        margin-top: 0;
    }
    .header .links a{
       display: none;
       }
       .header .bars{
        display: flex;
        flex-direction: column;
        
        }   
        .header2 .header-right{
            align-items: baseline;
            margin: 8rem 2rem;
            margin-left: -10rem;
        }
}