@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;0,700;0,900;1,400;1,500;1,900&display=swap');

  :root{
    --red:#ED2323;
    --black:#333;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1)
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bar{
    background-image: linear-gradient(to right, black, red);
    height: .4rem;
    width: 100%;
    margin-top: 3rem;
}
h2{
    text-align: center;
    background: lightgray;
    color: var(--red);
}



.header .top{
    width: 100%;
    
    background: var(--black);
    height: 1rem;
    text-align: center;
    color: #eee;
    font-size: .7rem;
}
.header2{
   
 
    background: var(--red);
  width: 100%;
   
    display: flex;
    justify-content: space-between;
}
.header .logo{
    display: flex;
    
    align-items: center;
   
}

.header .logo img{
    height: 10vh;
}

.header .links a{
 text-decoration: none;
 
 padding: .4rem;
 color: #eee;
}
.header .links a:hover{
    background: black;
}
.header .links a i{
    color: #eee;
    padding: .3rem;
}
.header .links a:hover{
    background: var(--red);
    color: #eee;
    letter-spacing: .1rem;
    border-radius: .3rem;
}

.header .links .fa-info{
  background: #eee;
  color: var(--black);
  border-radius: 50%;
  font-size: .5rem;
  
}
.header2 .header-right{
    align-items: end;
   
}
.favourite{
    display: none;

}
.favourite a{
   text-decoration: none;
   color: #eee;
   align-items: center;
}

.header2 .header-right a{
    text-decoration: none;
   color: #eee;
   padding: .5rem;
}
.header2 .header-right a:hover{
    background: var(--red);
    color: #eee;
    letter-spacing: .1rem;
    border-radius: .3rem;
}
.containers{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    
}
nav{
    width: 20%;
}

.containers .left-nav{
    
    height: 100vh;
    margin-top: -2rem;
    
  
   
}
.containers .left-nav h2{
    background: lightgray;
    color: var(--red);
}


.containers .slider{
    padding-top: 1rem;
    margin-left: .5rem;
    width:48% ;
    
   
    
}
.swiper{
width: 100%;
height: fit-content;

}
.swiper-slide img{
  width: 100%;
  height: 40vh;  
 
}
.swiper .swiper-button-prev, 
.swiper .swiper-button-next{
 color: #fff;
}
.swiper .swiper-pagination-bullet-active{
    background: #fff;
}
.containers .slider .search {
width: 100%;
background:blue;
height: 2.2rem;
display: flex;
flex-wrap: wrap;
border: 1px solid rgb(61, 100, 226);
align-items: center;
}
.containers .slider .search input{
    width: 92%;
   padding: .4rem;
   font-size: 1rem;
   border: none;
   height: 100%;
}
.containers .slider .search i{
    font-size: 1.5rem;
    margin-left: .5rem;
    color: #eee;
}
.containers .slider .search:hover{
    box-shadow:1rem 1.5rem 1.5rem rgba(0,0,0,.1)
}

/* left nav list */
.left-nav .left-nav-list{
    display: flex;
    flex-direction: column;
    justify-content: start;

}
.left-nav .left-nav-list a{
    text-decoration: none;
    color: var(--black);
    
    font-size: 1rem;
  
}
.left-nav .left-nav-list img{
    height: 1.4rem;
    margin-bottom: -.4rem;
    align-items: start;
    


}


.left-nav .left-nav-list li a{
    margin: 1rem 1rem;
    list-style: none;
    display: flex;
    align-items: start;
    justify-content: start;
   
}


/* nav right */
.containers .nav-right{
    width: 25%;
    margin: 1rem;
    margin-top:-2rem ;
   
   
}

.containers .slider .detailz{
   display: none;
}
.containers .slider .detailz.active{
   display: block;
   
}


 .allCars a:hover{
cursor: pointer;

}
.right-1 .member{
   position: relative;
    display: inline-block;
    
}
.right-1 .member .members{
position: absolute;
display: none;
z-index: 1;
}
 .registerForm{
    display: none;
}
.registerForm.active{
    display: block;
}


#carList img{
height: 10rem;
width: 14rem;
}

#carList p{
    color: rgb(51, 51, 181);
    width: 14rem;
    
}
#bestList a {
    width: 12rem;
    
    
    }
    #bestList img{
       width: 12rem;
        height: 15vh;
    }
    #bestList p{
        color: rgb(51, 51, 181);
        width: 14rem;
    }
    #newArrivals a {
        width: 14rem;
        
        
        }
        #newArrivals img{
           width: 14rem;
            height: 15vh;
        }
        #newArrivals p{
            color: rgb(51, 51, 181);
            width: 14rem;
        }
        #reviewList p{
            font-weight: bold;
            font-size: large;
        }
        #reviewList span{
            color: blue;
            font-weight: 700;
            font-style:italic ;
        }
    
    
        #reviewList div{
           
           width: 18rem;
           align-items: top;
           
    
        }
        #reviewList div2{
            width: 18rem;
        }
       
        #reviewList div{
            display: flex;
            width: 10rem;
        }
        #reviewList div img{
            width: 4rem;
            height: 10vh;
        }
        #reviewList h2{
            font-size: 1.1rem;
            background: #eee;
            color:var(--black);
            font-weight: 900;
        }
        #reviewList div3{
            display: flex;
        }


  
        .alCars .swiper-container {
            width: 100%;
            /* Adjust the height as needed */
          }
          
          .alCars .swiper-wrapper {
            display: flex;
          }
        
          .alCars .swiper-slide {
            width: 10rem;
            

          }
          
          .alCars .swiper-pagination {
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 100%;
            text-align: center;
          }
          
          .alCars .swiper-pagination-bullet {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #ED2323;
            margin: 0 5px;
            cursor: pointer;
          }
          
          .alCars .swiper-pagination-bullet-active {
            background-color: #333;
          }
          .alCars .swiper-slide img{
            
            height: 20vh;  
           
          }
          .swiper .swiper-button-prev, 
          .swiper .swiper-button-next{
           color: #fff;
          }
          .swiper .swiper-pagination-bullet-active{
              background: #fff;
          }
          .floating-button {
            position: fixed;
            bottom: 18rem;
            right: 20px;
            width: 5rem;
            height: 60px;
            background-color: #007bff;
            color: #fff;
            border-radius: 50%;
            text-align: center;
            line-height: 60px;
            font-size: 20px;
            z-index: 9999;
          }
         
          
          .additional-image {
            max-width: 100px;
            max-height: 80px;
            cursor: pointer;
          }
          
          /* Style for the reserve button */
          .reserve-button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 8px 20px;
            border-radius: 5px;
            cursor: pointer;
          }

          #mainImageContainer img{
            width: 90%;
            height: 40vh;
            margin-left: 5%;
          }
          #reserveFormContainer{
            background: beige;
            display: block;
            font-size: 2rem;
            border: 1px solid black;
            padding: 1rem;
          }
          #reserveFormContainer button{
            width: 50%;
            background: green;
            color: white;
            align-items: center;
            margin-left: 2rem;
            margin-top: 1rem;
          }
          
          /* Flex container for additionalImageContainer */
#additionalImageContainer {
    columns: 6;
    display: flex;
    flex-wrap: wrap;
   
  }
  
  /* Additional car images (items) */
  .additional-car-image {
    width: calc(16.666% - 20px); /* Adjust width to fit 6 items per row with some spacing */
    margin-bottom: 10px; /* Spacing between rows */
    box-sizing: border-box;
    padding: 5px;
  }
  
  .additional-car-image img {
    width: 20%;
    height: 150px; /* Adjust the height as needed */
    object-fit: cover;
    display: block;
    border: 2px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.2s;
  }
  
  #additionalImageContainer img:hover {
    border-color: #007bff;
    transform: scale3d(5);
    transform: scale3d(1.2, 1.2, 1.2);
  }
  #additionalImageContainer img{
    width: 8rem;
    height: 6rem; /* Adjust the height as needed */
    object-fit: cover;
    display: block;
    border: 2px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.2s;
    
  }
  #reservationForm button{
     background: forestgreen;
     color: #fff;
     text-align: center;
     width: 6rem;
  }
          










@media (max-width:991px){
   body{
    transition: smooth;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
   }
     .header .bars{
        margin-left: rem;
        display: flex;
        flex-direction: column;
        
        }   
        .header{
            position: relative;
        }
    .header .links{
       
        display: flex;
        flex-direction: column;
        position: absolute;
         top:100% ; left: 0; right: 0;
         background: red;
         padding: 1rem;
         margin-top: rem;
         clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 0%);
         transition: .5s;
       }
       .header .links.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        overflow-y: scroll;
  transition: .5s;
  overflow: hidden;
       
    }
    .containers .slider{
        width: 100%;
        transition: .5s;
        
        
    }
    .containers .slider.active{
        margin-top: 16rem;
        transition: .5s;
    }
   
    .containers .nav-right{
        display: none;
    }
    nav{
        display: none;
       }
       
        
        .containers .slider{
            width: 100%;
            overflow: hidden;
           
        }
        .header-right{
            float: right;
            
           width: 35%;
           align-items: right;
           text-align: right;
           padding: 0;
        }
    .header-right .login{
        display: block;

    }
    .header-right .login #password{
        margin: 0;
        margin-top: .5rem;
    }
    .questions{
        display: block;
        width: 100%;
       }
       .footer .smallfooter{
        display: block;
       }
       .footer .footerlist{
        display: none;
       }
       .footer{
        margin: 0;
        padding: .5rem;
       }
       
       .right-1 .member :hover .members{
        
         background: black;
     }
     .header-right .loginForms{
        display: none;
        
       }
       .header-right .loginForms.active{
        display: block;
       }
       
       
     .registerForm{
        display: none;
    }
    .registerForm.active{
        display: block;
    }
    .comments{
        display: flex;
        flex-direction: column;
        width: 180%;
        
        margin-left: .5rem;
        padding: 1rem;
    }
    .comments .smright{
        margin: 0;
    }
    .containers .slider .search{
        width: 97%;
    }
    .containers .slider .search i{
        font-size: 1.5rem;
        margin-left: .5rem;
        color: #eee;
    }
    .containers .slider .search:hover{
        box-shadow:1rem 1.5rem 1.5rem rgba(0,0,0,.1)
    }
    #searchInput{
        width: 85%;
    }
    #searchButton{
        color: #fff;
        font-weight: 700;
        text-align: center;
        padding-left: 1rem;
    }
}


@media (max-width:768px) {
    
    body{
        width: 100%;
        margin: 0;
    }
    .favourite{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        
    }
    .favourite a{
        padding: .5rem;
    }
   nav{
    display: none;
   }
   .containers .nav-right{
    display: none;
}
    
    .containers .slider{
        width: 100%;
        overflow: hidden;
       
    }
    
    .header .logo{
        
        width: 40%;
        
    }
    .member{
        width: 5rem;
        display: flex;
    }
    .right-1{
       
       display: flex;
       height: 4vh;
       

    }

       .header-right .right-1{
        display: block;
       
       }
       .slider .questions{
        display: block;
        width: 100%;
       }
       .slider .questions .left{
          width: 100%;
       }
       .slider .questions .right{
        width: 100%;
       }
       .footer img{
        width: 25%;
        margin: 0;
       }
       .footer{
        margin: 0;
        padding: .5rem;
        justify-content: none;
       }
     .containers .search {
        width: 80%;
     }
     .header-right .loginForms{
        display: none;
        margin-right: 0;
        
       }
       
       .header-right .loginForms.active{
        display: block;
       }
       
       
     .registerForm{
        display: none;
    }
    .registerForm.active{
        display: block;
    }

#reviewList div2{
    width: 90%;
}

#reviewList div{
    display: flex;
    width: 90%;
}
#reviewList div img{
    width: 4rem;
    height: 10vh;
}
#reviewList h2{
    font-size: 1.1rem;
    background: #eee;
    color:var(--black);
    font-weight: 900;
}
#reviewList div3{
    display: flex;
    width: 18rem;
}
#reviewList{
    overflow:scroll ;
}

}