@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;0,700;0,900;1,400;1,500;1,900&display=swap');

  :root{
    --red:#ED2323;
    --black:#333;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1)
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bar{
    background-image: linear-gradient(to right, black, red);
    height: .4rem;
    width: 100%;
    margin-top: 3rem;
}
h2{
    text-align: center;
    background: lightgray;
    color: var(--red);
}



.header .top{
    padding-bottom: 2rem;
     background: var(--black);
     height: 3rem;
     text-align: center;
     color: var(--red);
     font-size: 1.5rem;
 }
 .header .top span{
     color: blue;
     font-style: italic,;
     font-weight: 900;
     font-size: 2rem;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
.header2{
   
  
    background: var(--red);
  padding: 2rem;
   
    display: flex;
    justify-content: space-between;
}
.header .logo{
    display: flex;
    
    align-items: center;
   
}

.header .logo img{
    height: 10vh;
}

.header .links a{
 text-decoration: none;
 
 padding: .4rem;
 color: #eee;
}
.header .links a:hover{
    background: black;
}
.header .links a i{
    color: #eee;
    padding: .3rem;
}
.header .links a:hover{
    background: var(--red);
    color: #eee;
    letter-spacing: .1rem;
    border-radius: .3rem;
}

.header .links .fa-info{
  background: #eee;
  color: var(--black);
  border-radius: 50%;
  font-size: .5rem;
  
}
.header2 .header-right{
    align-items: end;
   
}
.favourite{
    display: none;

}
.favourite a{
   text-decoration: none;
   color: #eee;
   align-items: center;
}

.header2 .header-right a{
    text-decoration: none;
   color: #eee;
   padding: .5rem;
}
.header2 .header-right a:hover{
    background: var(--red);
    color: #eee;
    letter-spacing: .1rem;
    border-radius: .3rem;
}
.containers{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    
}
nav{
    width: 20%;
}

.containers .left-nav{
    
    height: 100vh;
    margin-top: -2rem;
    
  
   
}
.containers .left-nav h2{
    background: lightgray;
    color: var(--red);
}



.swiper{
width: 100%;
height: fit-content;

}


.containers .slider .search {
width: 100%;
background:blue;
height: 2.2rem;
display: flex;
flex-wrap: wrap;
border: 1px solid rgb(61, 100, 226);
align-items: center;
}
.containers .slider .search input{
    width: 92%;
   padding: .4rem;
   font-size: 1rem;
   border: none;
   height: 100%;
}
.containers .slider .search i{
    font-size: 1.5rem;
    margin-left: .5rem;
    color: #eee;
}
.containers .slider .search:hover{
    box-shadow:1rem 1.5rem 1.5rem rgba(0,0,0,.1)
}

/* left nav list */
.left-nav .left-nav-list{
    display: flex;
    flex-direction: column;
    justify-content: start;

}
.left-nav .left-nav-list a{
    text-decoration: none;
    color: var(--black);
    
    font-size: 1rem;
  
}
.left-nav .left-nav-list img{
    height: 1.4rem;
    margin-bottom: -.4rem;
    align-items: start;
    


}


.left-nav .left-nav-list li a{
    margin: 1rem 1rem;
    list-style: none;
    display: flex;
    align-items: start;
    justify-content: start;
   
}


/* nav right */


.containers .slider .detailz{
   display: none;
}
.containers .slider .detailz.active{
   display: block;
   
}


 .allCars a:hover{
cursor: pointer;

}
.right-1 .member{
   position: relative;
    display: inline-block;
    
}
.right-1 .member .members{
position: absolute;
display: none;
z-index: 1;
}


#editCarForm label{
    margin-top: .5rem;
    font-style: italic;
    font-size: 1.5rem;
    
    }
    #editCarForm input{
        border: 1px solid green;
        padding: .1rem;
    }
    #carList img{
        width: 14rem;
        height: 8rem;
    }
   
    
    #carList button1{
        margin-top: .5rem;
        display: block;
        background: green;
        width: 12rem;
        text-align: center;
        color: aliceblue;
        cursor: pointer;
    }
    #carList button2{
        margin-top: .5rem;
        display: block;
        background: red;
        width: 12rem;
        text-align: center;
        color: aliceblue;
        cursor: pointer;
    }
    #reviewList p{
        font-weight: bold;
        font-size: large;
    }
    #reviewList span{
        color: blue;
        font-weight: 700;
        font-style:italic ;
    }


    #reviewList div{
       background: beige;
       width: 18rem;
       align-items: center;
       

    }
    #reviewList button{
        background: green;
        color: antiquewhite;
        font-weight: 900;
        width: 90%;
        text-align: center;
         margin-top: 1rem;
    }
    #reviewList btn{
        background: var(--red);
        text-align: center;
         width: 100%;
        margin-top: 1rem;
        color: aliceblue;
        font-weight:bolder;
    }
    #inquiryList div{
        background: beige;
        padding-left: .5rem;
        width: 15rem;
    }
    #inquiryList button{
        background: var(--red);
        text-align: center;
        width: 100%;
        margin-top: 1rem;
        color: aliceblue;
        font-weight:bolder;
    }
    #inquiryList p{
        font-weight: bold;
        font-size: large;
    }
    #inquiryList span{
        color: blue;
        font-weight: 700;
        font-style:italic ;
    }
    

    #reservations div{
        background: beige;
        padding-left: .5rem;
    }
    #reservations button{
        background: var(--red);
        text-align: center;
        width: 90%;
        margin-top: 1rem;
        color: aliceblue;
        font-weight:bolder;
    }
    #reservations p{
        font-weight: bold;
        font-size: large;
    }
    #reservations span{
        color: blue;
        font-weight: 700;
        font-style:italic ;
    }













@media (max-width:991px){
   
    .header .bars{
        margin-left: rem;
        display: flex;
        flex-direction: column;
        
        }   
        .header{
            position: relative;
        }
    .header .links{
       
        display: flex;
        flex-direction: column;
        position: absolute;
         top:100% ; left: 0; right: 0;
         background: red;
         padding: 1rem;
         margin-top: rem;
         clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 0%);
       }
       .header .links.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        overflow-y: scroll;
  transition: 1s;
  overflow: hidden;
       
    }
    .containers .slider{
        width: 100%;
        padding-right: 5px;
        
        
    }
    .containers .slider.active{
        margin-top: 14rem;
        
    }
   
    .containers .nav-right{
        display: none;
    }
    nav{
        display: none;
       }
       
        
        .containers .slider{
            width: 100%;
            overflow: hidden;
           
        }
        .header-right{
            float: right;
            
           width: 35%;
           align-items: right;
           text-align: right;
           padding: 0;
        }
    .header-right .login{
        display: block;

    }
    .header-right .login #password{
        margin: 0;
        margin-top: .5rem;
    }
    .questions{
        display: block;
        width: 100%;
       }
       .footer .smallfooter{
        display: block;
       }
       .footer .footerlist{
        display: none;
       }
       .footer{
        margin: 0;
        padding: .5rem;
       }
       .right-1 .member{
        position: relative;
    
         display: inline-block;
       }
       .right-1 .member :hover .members{
        display: block;
         background: black;
     }
     .header-right .loginForms{
        display: none;
        
       }
       .header-right .loginForms.active{
        display: block;
       }
       
       .containers .slider .detailz{
        display: none;
     }
     .containers .slider .detailz.active{
        display: block;
        
     }
     .registerForm{
        display: none;
    }
    .registerForm.active{
        display: block;
    }
    .comments{
        display: flex;
        flex-direction: column;
        width: 180%;
        
        margin-left: .5rem;
        padding: 1rem;
    }
    .comments .smright{
        margin: 0;
    }
    .containers .slider .search{
        width: 97%;
    }
    .containers .slider .search i{
        font-size: 1.5rem;
        margin-left: .5rem;
        color: #eee;
    }
    .containers .slider .search:hover{
        box-shadow:1rem 1.5rem 1.5rem rgba(0,0,0,.1)
    }
    
}


@media (max-width:768px) {
    
   
    .favourite{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        
    }
    .favourite a{
        padding: .5rem;
    }
   nav{
    display: none;
   }
   .containers .nav-right{
    display: none;
}
    
    .containers .slider{
        width: 100%;
        overflow: hidden;
       
    }
    
    .header .logo{
        
        width: 40%;
        
    }
    
    

       .header-right .right-1{
        display: block;
       
       }
       .slider .questions{
        display: block;
        width: 100%;
       }
       .slider .questions .left{
          width: 100%;
       }
       .slider .questions .right{
        width: 100%;
       }
       .footer img{
        width: 25%;
        margin: 0;
       }
       .footer{
        margin: 0;
        padding: .5rem;
        justify-content: none;
       }
     .containers .search {
        width: 80%;
     }
     .header-right .loginForms{
        display: none;
        margin-right: 0;
        
       }
       
       .header-right .loginForms.active{
        display: block;
       }
       
       .containers .slider .detailz{
        display: none;
     }
     .containers .slider .detailz.active{
        display: block;
        
     }
     .registerForm{
        display: none;
    }
    .registerForm.active{
        display: block;
    }
    #reviewList p{
        font-weight: bold;
        font-size: large;
    }
    #reviewList h2{
        width: 13rem;
    }
    #reviewList span{
        color: blue;
        font-weight: 700;
        font-style:italic ;
    }


    #reviewList div{
       background: beige;
       align-items: center;
       

    }
    #reviewList button{
        background: green;
        color: antiquewhite;
        font-weight: 900;
        width: 90%;
        text-align: center;
         margin-top: 1rem;
    }
    #reviewList btn{
        background: var(--red);
        text-align: center;
         width: 100%;
        margin-top: 1rem;
        color: aliceblue;
        font-weight:bolder;
    }
    .footers{
        display: none;
    }

}